#note-list-item-title:empty:before {
    content: "\00a0";
}

.container, .container-fluid {
    height: 100vh;
}

#app-content {
    height: calc(100% - 53px);
}

#note-list {
    overflow-y: scroll;
    height: calc(100% - 42px)
}
